:root {
  --bg-color: #141414;
  --bg-color-secondary: #222;
  --text-color: #fff;
  --text-color-2: #e5e5e5;
  --text-color-secondary: #b4b4b4;
  --text-color-hover: #808080;
  --color-primary: #8209d1;
  --color-secondary: #fff;
  --color-secondary-2: #c3c2b1;

  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.search_wrapper {
  background-color: var(--bg-color-secondary);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 20%;
}

.search_wrapper input {
  background: none;
  border: none;
  border-radius: 7px;
  flex-grow: 1;
  font-size: 1em;
  outline: none;
  padding: 12px;
}

.search_wrapper input::placeholder {
  color: var(--text-color-secondary);
  font-weight: 500;
}

.search_wrapper button {
  align-items: center;
  background: none;
  background-color: none;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  padding: 0 7px;
}

#open {
  animation: openSearch 0.2s ease-in-out;
}

#suspense {
  background-color: var(--bg-color-secondary);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  width: 0%;
}

#suspense button {
  align-items: center;
  background: none;
  background-color: none;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  padding: 0 7px;
}

@keyframes openSearch {
  from {
    width: 0%;
  }

  to {
    width: 20%;
  }
}
