@import "../../../styles/variables";
@import "../../../styles/functions";

.search_wrapper {
  background-color: getColor(secondary);

  & input {
    background: none;

    &::placeholder {
      font-weight: $medium;
      opacity: 0.4;
      color: getColor(text);
    }
  }

  & button {
    background-color: none;

    &:hover {
      background: none;
    }
  }
}
