$color-text: #ffffff;
$color-text-2: #e5e5e5;
$color-text-secondary: #808080;
$color-text-hover: #b4b4b4;
$color-bg: #141414;
$color-bg-secondary: #222222;
$color-primary: #8209d1;
$color-secondary: #ffffff;
$color-accent: #c3c2b1;

// font-weight
$normal: 400;
$medium: 500;
$bold: 700;
$light: 200;
