$text: #1b141f;
$background: #ffffff;
$primary: #8109d1;
$secondary: #cfcfcf;
$accent: #532a6f;

$dm-text: #ffffff;
$dm-background: #1b141f;
$dm-primary: #8109d1;
$dm-secondary: #272727;
$dm-accent: #a26bc7;

// font-weight
$normal: 400;
$medium: 500;
$bold: 700;
$light: 200;
