@import "./variables";
@import "./functions";

@media only screen and (min-width: 600px) {
  //ROOT HEADER
  .root_header {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .header_logo {
    display: none;
  }

  .root_main {
    flex-flow: row wrap;
    min-height: 90vh;
    margin-top: 2em;
    text-align: center;
  }

  .root_sectionHeader,
  .root_sectionAbout {
    & h2 {
      font-size: 1.5rem;
    }

    & p {
      width: 90%;
      margin: auto;
      text-align: justify;
      font-size: 1rem;
      line-height: 1.7rem;
    }
  }

  .root_sectionHeader {
    margin-bottom: 2.5rem;
    & h2 {
      margin-bottom: 1rem;
    }

    & button {
      padding: 1.2rem 2.7rem;
      background: getColor(color-primary);
      color: getColor(color-secondary);
      font-size: 1.2em;
      font-weight: $bold;
      margin-top: 1.2rem;
    }
  }

  .root_sectionAbout {
    & .about_title {
      margin-bottom: 1.5rem;

      & small {
        font-size: 0.7em;
        color: getColor(text-color-secondary);
      }
    }
  }

  //SLIDER AND CONTENTS
  .section_title {
    font-size: 1.5rem;
  }

  .item_carousel {
    height: 280px;
  }
}
