@import "./variables";
@import "./functions";

::selection {
  background: getColor(color-primary);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: getColor(color-primary);
  border-radius: 1em;
  border: 1px solid getColor(bg-color);
}

::-webkit-scrollbar-track {
  background: getColor(bg-color-secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.42620798319327735) 0%, rgba(20, 20, 20, 1) 15%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.42620798319327735) 0%, rgba(20, 20, 20, 1) 15%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.42620798319327735) 0%, rgba(20, 20, 20, 1) 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#141414",GradientType=1);
}

a {
  color: getColor(text-color);
  text-decoration: none;
  transition: all 0.4s;

  &:hover {
    color: getColor(text-color-hover);
  }
}

button {
  border-radius: 0.7em;
  border: none;
  transition: all 0.1s;
  cursor: pointer;

  &:hover {
    background: getColor(color-secondary);
    color: getColor(color-primary);
  }
}

#active {
  color: getColor(text-color);
  cursor: default;
}

.mainContainer {
  margin: auto;
  margin-left: 2vw;
  min-height: 100vh;
}

.categoriesSection {
  margin-bottom: 7vh;
}

.section_title {
  color: getColor(text-color-2);
  font-weight: $medium;
  transition: all 0.4s;
  font-size: 1.7rem;

  &:hover {
    color: getColor(text-color);
  }
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.item_carousel {
  display: flex;

  & img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0.2em;
    transition: all 0.2s;
    &:hover {
      border: 2px solid getColor(color-primary);
    }
  }
}

#fullStar,
#halfStar {
  color: getColor(color-primary);
}
#emptyStar {
  color: getColor(color-secondary-2);
}

@media only screen and (max-width: 600px) {
  .item_carousel {
    display: flex;

    & img {
      width: 120px;
      height: 200px;
      object-fit: cover;
      border: 2px solid rgba(0, 0, 0, 0);
      border-radius: 0.2em;
      transition: all 0.2s;
      &:hover {
        border: 2px solid getColor(color-primary);
      }
    }
  }
}
