:root {
  --text: #1b141f;
  --bg: #fff;
  --primary: #8109d1;
  --secondary: #cfcfcf;
  --accent: #532a6f;

  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --bg: #1b141f;
    --primary: #8109d1;
    --secondary: #272727;
    --accent: #a26bc7;
  }
}

::selection {
  background: var(--primary);
}

::selection {
  background: var(--primary);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: 1px solid var(--bg);
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

ul a li {
  color: var(--text);
  opacity: 0.4;
  transition: all 0.2s;
}

ul a li:hover {
  opacity: 0.7;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: all 0.4s;
}

a:hover {
  color: var(--primary);
}

button {
  border: none;
  border-radius: 0.75rem;
  color: var(--text);
  cursor: pointer;
  transition: all 0.1s;
}

button:hover {
  background-color: white;
  color: var(--primary);
}

#active {
  color: var(--text);
  cursor: default;
  opacity: 1;
}

.mainContainer {
  margin: auto;
  min-height: 100vh;
}

.categoriesSection {
  border-bottom: 2px solid var(--primary);
  margin-bottom: 7vh;
  margin-left: 2vw;
}

.categoriesSection:hover .section_title {
  cursor: default;
  opacity: 1;
}

.section_title {
  color: var(--text);
  transition: all 0.4s;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.item_carousel img {
  border: 2px solid transparent;
  border-radius: 0.2em;
  height: 450px;
  object-fit: cover;
  object-fit: cover;
  transition: all 0.2s;
  width: 300px;
}

.item_carousel img:hover {
  border: 2px solid var(--primary);
}

.fade_swiper__item a {
  width: 100vw;
}

.fade_swiper__item .slider_img {
  display: flex;
  height: 80vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.fade_swiper__item .slider_img .slider_bt__fade {
  background: rgb(20 20 20);
  background: linear-gradient(
    180deg,
    rgb(20 20 20 / 0%) 0%,
    rgb(20 20 20) 100%
  );
  bottom: 0;
  cursor: default;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#141414",endColorstr="#141414",GradientType=1);
  font-size: 5vh;
  font-weight: 500;
  height: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 0 2px 10px var(--primary);
  width: 100%;
}

.fade_swiper__item img {
  border: 2px solid rgb(0 0 0 / 0%);
  height: 100%;
  object-fit: cover;
  object-fit: cover;
  transition: all 0.2s;
  width: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  filter: drop-shadow(0 0 5px black) drop-shadow(0 0 10px black)
    drop-shadow(0 0 20px black) drop-shadow(0 0 10px black);
  height: 100%;
  transform: scale(1.2);
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  transition: opacity 0.4s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

#fullStar,
#halfStar {
  color: var(--primary);
}

#emptyStar {
  color: var(--secondary);
}

@media only screen and (width <= 600px) {
  .item_carousel {
    display: flex;
  }

  .item_carousel img {
    height: 200px;
    width: 120px;
  }

  .fade_swiper__item {
    margin-bottom: 4vh;
  }

  .fade_swiper__item .slider_img {
    height: 20vh;
  }
}
