@import "./variables";
@import "./functions";

::selection {
  background: getColor(color-primary);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: getColor(color-primary);
  border-radius: 1em;
  border: 1px solid getColor(bg-color);
}

::-webkit-scrollbar-track {
  background: getColor(bg-color-secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.42620798319327735) 0%, rgba(20, 20, 20, 1) 15%);
  background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.42620798319327735) 0%, rgba(20, 20, 20, 1) 15%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.42620798319327735) 0%, rgba(20, 20, 20, 1) 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#141414",GradientType=1);
}

a {
  color: getColor(text-color);
  text-decoration: none;
  transition: all 0.4s;

  &:hover {
    color: getColor(text-color-hover);
  }
}

button {
  border-radius: 0.7em;
  border: none;
  transition: all 0.1s;
  cursor: pointer;

  &:hover {
    background: getColor(color-secondary);
    color: getColor(color-primary);
  }
}

#active {
  color: getColor(text-color);
  cursor: default;
}

.mainContainer {
  margin: auto;
  min-height: 100vh;
}

.categoriesSection {
  margin-left: 2vw;
  background: rgb(20, 20, 20);
  background: -moz-linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(130, 9, 209, 0.07326680672268904) 25%,
    rgba(130, 9, 209, 0.14609593837535018) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(130, 9, 209, 0.07326680672268904) 25%,
    rgba(130, 9, 209, 0.14609593837535018) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(130, 9, 209, 0.07326680672268904) 25%,
    rgba(130, 9, 209, 0.14609593837535018) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141414",endColorstr="#8209d1",GradientType=1);
  margin-bottom: 7vh;
  border-bottom: 2px solid getColor(color-primary);
}

.section_title {
  color: getColor(text-color-2);
  font-weight: $medium;
  transition: all 0.4s;
  font-size: 1.7rem;
  margin-bottom: 2vh;
  &:hover {
    color: getColor(text-color);
    cursor: default;
  }
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.item_carousel {
  display: flex;

  & img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0.2em;
    transition: all 0.2s;
    &:hover {
      border: 2px solid getColor(color-primary);
    }
  }
}

.fade_swiper__item {
  margin-bottom: 7vh;
  & .slider_img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;

    & .slider_bt__fade {
      text-transform: uppercase;
      background: rgb(20, 20, 20);
      background: -moz-linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 1) 100%);
      background: -webkit-linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 1) 100%);
      background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141414",endColorstr="#141414",GradientType=1);
      width: 100%;
      height: 20%;
      text-align: center;
      position: absolute;
      bottom: 0;
      font-size: 5vh;
      font-weight: $medium;
      text-shadow: 0 2px 10px getColor(color-primary);
      cursor: default;
    }
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0.4em;
    transition: all 0.2s;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  width: 100%;
  height: 100%;
  color: white;
  filter: drop-shadow(0 0px 5px black) drop-shadow(0 0px 10px black) drop-shadow(0 0px 20px black)
    drop-shadow(0 0px 10px black);
  transform: scale(1.2);
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  transition: opacity 0.4s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}
#fullStar,
#halfStar {
  color: getColor(color-primary);
}
#emptyStar {
  color: getColor(color-secondary-2);
}

@media only screen and (max-width: 600px) {
  .item_carousel {
    display: flex;

    & img {
      width: 120px;
      height: 200px;
      object-fit: cover;
      border: 2px solid rgba(0, 0, 0, 0);
      border-radius: 0.2em;
      transition: all 0.2s;
      &:hover {
        border: 2px solid getColor(color-primary);
      }
    }
  }
}
