@import "../../../styles/_functions.scss";

footer {
  min-height: 20vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  background: getColor(secondary);
}

ul {
  display: flex;
  gap: 24px;
}
li {
  font-size: 1.7em;
  list-style-type: none;
}

span {
  & a {
    color: getColor(text);
    text-decoration: underline;
  }
  color: getColor(text);
}
