@import "../../../styles/functions";
@import "../../../styles/variables";

.content {
  min-height: 90vh;
  &.mainContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 70vw;
    margin: auto;
    margin-top: 2.5em;

    & .overview_container {
      margin-right: 2em;
    }
  }

  & .content_summary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1em;
    cursor: default;

    & .content_thumbnail {
      position: relative;
      & figure {
        & img {
          transition: all 0.4s;
          filter: brightness(0.25);
          width: auto;
          height: 40vh;
          border-radius: 0.2em;
          pointer-events: none;
        }
      }
      & figcaption {
        opacity: 0.4;
        color: getColor(accent);
        text-align: center;
      }

      &:hover {
        .summary_side {
          opacity: 0;
        }
        & figure {
          & img {
            filter: brightness(1);
            width: auto;
            height: 40vh;
            pointer-events: none;
          }
        }
      }
    }

    & .summary_side {
      transition: all 0.4s;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      & .genres {
        font-weight: $medium;
        font-size: 1.5rem;
      }

      & .content_rating {
        display: flex;
        align-items: center;
        justify-content: center;

        & .stars {
          display: flex;
          align-items: center;
          font-weight: $bold;
          font-size: 4em;

          margin-right: 14px;
        }

        & .rating {
          color: getColor(text);
          font-weight: $bold;
          font-size: 2em;
        }
      }
    }
  }
  .content_review {
    padding: 2em 0;
    text-align: justify;
    & .review_title__wrap {
      margin-bottom: 2em;
      text-align: center;
      color: getColor(text);

      & h2 {
        font-size: 2.5em;
      }

      & small {
        font-size: 1em;
        font-style: italic;
        color: getColor(text);
        opacity: 0.7;
      }
    }

    & p {
      line-height: 1.7em;
      color: getColor(text);
      font-size: 1.2em;
    }
  }
  & .recommendation {
    text-align: center;
    min-width: 20vw;

    & h2 {
      padding-bottom: 1.5em;
    }

    .recommended {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      gap: 1em;
      & img {
        border-radius: 0.2em;
        width: 150px;
        height: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: all 0.2s;

        &:hover {
          border: 2px solid getColor(primary);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .content {
    min-height: 90vh;

    &.mainContainer {
      & .overview_container {
        margin-right: 0;
      }
    }

    & .content_summary {
      & .content_thumbnail {
        & figure {
          & img {
            max-width: 90vw;
            height: auto;
          }
        }
        &:hover {
          .summary_side {
            opacity: 0;
          }
          & figure {
            & img {
              max-width: 90vw;
              height: auto;
            }
          }
        }
      }

      & .summary_side {
        & .genres {
          font-size: 3.2vw;
        }
        & .content_rating {
          & .stars {
            font-size: 4vh;
            margin-right: 7px;
          }

          & .rating {
            font-size: 4vh;
          }
        }
      }
    }
    .content_review {
      & .review_title__wrap {
        & h2 {
          font-size: 1.5em;
        }

        & small {
          font-size: 1em;
          font-style: italic;
        }
      }

      & p {
        text-align: justify;
        font-size: 1.1em;
      }
    }
    & .recommendation {
      display: none;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .content {
    min-height: 90vh;

    &.mainContainer {
      align-items: center;

      flex-flow: column;
      & .overview_container {
        margin-right: 0;
      }
    }

    & .content_summary {
      & .content_thumbnail {
        & figure {
          & img {
            max-width: 90vw;
            height: auto;
          }
        }
        &:hover {
          .summary_side {
            opacity: 0;
          }
          & figure {
            & img {
              max-width: 90vw;
              height: auto;
            }
          }
        }
      }

      & .summary_side {
        & .genres {
          font-size: 2.5vw;
        }
        & .content_rating {
          & .stars {
            font-size: 5vh;
            margin-right: 7px;
          }

          & .rating {
            font-size: 3.5vh;
          }
        }
      }
    }
    .content_review {
      & .review_title__wrap {
        & h2 {
          font-size: 2em;
        }

        & small {
          font-size: 0.85em;
          font-style: italic;
          color: getColor(text-color-secondary);
        }
      }

      & p {
        text-align: justify;
        font-size: 2.5vh;
      }
    }
    & .recommendation {
      min-width: 90vw;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .content {
    min-height: 90vh;

    &.mainContainer {
      align-items: center;
      margin-top: 2em;
      flex-flow: column;
      & .overview_container {
        margin-right: 0;
      }
    }

    & .content_summary {
      & .content_thumbnail {
        & figure {
          & img {
            max-width: 90vw;
            height: auto;
          }
        }
        &:hover {
          .summary_side {
            opacity: 0;
          }
          & figure {
            & img {
              max-width: 90vw;
              height: auto;
            }
          }
        }
      }

      & .summary_side {
        & .genres {
          font-size: 1.8vw;
        }
        & .content_rating {
          & .stars {
            font-size: 5vh;
            margin-right: 7px;
          }

          & .rating {
            font-size: 3.5vh;
          }
        }
      }
    }
    .content_review {
      & .review_title__wrap {
        & h2 {
          font-size: 2em;
        }

        & small {
          font-size: 0.85em;
          font-style: italic;
          color: getColor(text-color-secondary);
        }
      }

      & p {
        text-align: justify;
        font-size: 2.5vh;
      }
    }
    & .recommendation {
      min-width: 90vw;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1280px) {
  .content {
    min-height: 90vh;

    &.mainContainer {
      align-items: flex-start;
      margin-top: 2em;
      & .overview_container {
        margin-right: 0;
      }
    }

    & .content_summary {
      & .content_thumbnail {
        & figure {
          & img {
            max-width: 90vw;
            height: auto;
          }
        }
        &:hover {
          .summary_side {
            opacity: 0;
          }
          & figure {
            & img {
              max-width: 90vw;
              height: auto;
            }
          }
        }
      }

      & .summary_side {
        & .genres {
          font-size: 1.5vw;
        }
        & .content_rating {
          & .stars {
            font-size: 7vh;
            margin-right: 7px;
          }

          & .rating {
            font-size: 3.5vh;
          }
        }
      }
    }
    .content_review {
      & .review_title__wrap {
        & h2 {
          font-size: 2em;
        }

        & small {
          font-size: 0.85em;
          font-style: italic;
          color: getColor(text-color-secondary);
        }
      }

      & p {
        text-align: justify;
        font-size: 2.5vh;
      }
    }
    & .recommendation {
      min-width: 40vw;
      flex-flow: column nowrap;
    }
  }
}
