:root {
  --bg-color: #141414;
  --bg-color-secondary: #222;
  --text-color: #fff;
  --text-color-2: #e5e5e5;
  --text-color-secondary: #b4b4b4;
  --text-color-hover: #808080;
  --color-primary: #8209d1;
  --color-secondary: #fff;
  --color-secondary-2: #c3c2b1;

  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.content {
  min-height: 90vh;
}

.content.mainContainer {
  align-items: start;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2.5em;
  width: 70vw;
}

.content.mainContainer .overview_container {
  margin-right: 2em;
}

.content .content_summary {
  align-items: center;
  cursor: default;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.content .content_summary .content_thumbnail {
  position: relative;
}

.content .content_summary .content_thumbnail figure img {
  border-radius: 0.2em;
  filter: brightness(0.25);
  height: 40vh;
  pointer-events: none;
  transition: all 0.4s;
  width: auto;
}

.content .content_summary .content_thumbnail figcaption {
  color: var(--text-color-secondary);
  opacity: 0.4;
  text-align: center;
}

.content .content_summary .content_thumbnail:hover .summary_side {
  opacity: 0;
}

.content .content_summary .content_thumbnail:hover figure img {
  filter: brightness(1);
  height: 40vh;
  pointer-events: none;
  width: auto;
}

.content .content_summary .summary_side {
  align-items: center;
  inset: 0;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  justify-content: center;
  position: absolute;
  transition: all 0.4s;
}

.content .content_summary .summary_side .genres {
  font-size: 1.5rem;
  font-weight: 500;
}

.content .content_summary .summary_side .content_rating {
  align-items: center;
  display: flex;
  justify-content: center;
}

.content .content_summary .summary_side .content_rating .stars {
  align-items: center;
  display: flex;
  font-size: 4em;
  font-weight: 700;
  margin-right: 14px;
}

.content .content_summary .summary_side .content_rating .rating {
  color: var(--text-color);
  font-size: 2em;
  font-weight: 700;
}

.content .content_review {
  padding: 2em 0;
  text-align: justify;
}

.content .content_review .review_title__wrap {
  color: var(--text-color);
  margin-bottom: 2em;
  text-align: center;
}

.content .content_review .review_title__wrap h2 {
  font-size: 2.5em;
}

.content .content_review .review_title__wrap small {
  color: var(--text-color-secondary);
  font-size: 1em;
  font-style: italic;
}

.content .content_review p {
  color: var(--text-color-2);
  font-size: 1.2em;
  line-height: 1.7em;
}

.content .recommendation {
  min-width: 20vw;
  text-align: center;
}

.content .recommendation h2 {
  padding-bottom: 1.5em;
}

.content .recommendation .recommended {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: center;
}

.content .recommendation .recommended img {
  border: 2px solid rgb(0 0 0 / 0%);
  border-radius: 0.2em;
  height: 100%;
  transition: all 0.2s;
  width: 150px;
}

.content .recommendation .recommended img:hover {
  border: 2px solid var(--color-primary);
}

@media only screen and (width <= 600px) {
  .content {
    min-height: 90vh;
  }

  .content.mainContainer .overview_container {
    margin-right: 0;
  }

  .content .content_summary .content_thumbnail figure img {
    height: auto;
    max-width: 90vw;
  }

  .content .content_summary .content_thumbnail:hover .summary_side {
    opacity: 0;
  }

  .content .content_summary .content_thumbnail:hover figure img {
    height: auto;
    max-width: 90vw;
  }

  .content .content_summary .summary_side .genres {
    font-size: 3.2vw;
  }

  .content .content_summary .summary_side .content_rating .stars {
    font-size: 4vh;
    margin-right: 7px;
  }

  .content .content_summary .summary_side .content_rating .rating {
    font-size: 4vh;
  }

  .content .content_review .review_title__wrap h2 {
    font-size: 1.5em;
  }

  .content .content_review .review_title__wrap small {
    color: var(--text-color-secondary);
    font-size: 1em;
    font-style: italic;
  }

  .content .content_review p {
    font-size: 1.1em;
    text-align: justify;
  }

  .content .recommendation {
    display: none;
  }
}

@media only screen and (width >= 600px) and (width <= 768px) {
  .content {
    min-height: 90vh;
  }

  .content.mainContainer {
    align-items: center;
    flex-flow: column;
  }

  .content.mainContainer .overview_container {
    margin-right: 0;
  }

  .content .content_summary .content_thumbnail figure img {
    height: auto;
    max-width: 90vw;
  }

  .content .content_summary .content_thumbnail:hover .summary_side {
    opacity: 0;
  }

  .content .content_summary .content_thumbnail:hover figure img {
    height: auto;
    max-width: 90vw;
  }

  .content .content_summary .summary_side .genres {
    font-size: 2.5vw;
  }

  .content .content_summary .summary_side .content_rating .stars {
    font-size: 5vh;
    margin-right: 7px;
  }

  .content .content_summary .summary_side .content_rating .rating {
    font-size: 3.5vh;
  }

  .content .content_review .review_title__wrap h2 {
    font-size: 2em;
  }

  .content .content_review .review_title__wrap small {
    color: var(--text-color-secondary);
    font-size: 0.85em;
    font-style: italic;
  }

  .content .content_review p {
    font-size: 2.5vh;
    text-align: justify;
  }

  .content .recommendation {
    min-width: 90vw;
  }
}

@media only screen and (width >= 768px) and (width <= 992px) {
  .content {
    min-height: 90vh;
  }

  .content.mainContainer {
    align-items: center;
    flex-flow: column;
    margin-top: 2em;
  }

  .content.mainContainer .overview_container {
    margin-right: 0;
  }

  .content .content_summary .content_thumbnail figure img {
    height: auto;
    max-width: 90vw;
  }

  .content .content_summary .content_thumbnail:hover .summary_side {
    opacity: 0;
  }

  .content .content_summary .content_thumbnail:hover figure img {
    height: auto;
    max-width: 90vw;
  }

  .content .content_summary .summary_side .genres {
    font-size: 1.8vw;
  }

  .content .content_summary .summary_side .content_rating .stars {
    font-size: 5vh;
    margin-right: 7px;
  }

  .content .content_summary .summary_side .content_rating .rating {
    font-size: 3.5vh;
  }

  .content .content_review .review_title__wrap h2 {
    font-size: 2em;
  }

  .content .content_review .review_title__wrap small {
    color: var(--text-color-secondary);
    font-size: 0.85em;
    font-style: italic;
  }

  .content .content_review p {
    font-size: 2.5vh;
    text-align: justify;
  }

  .content .recommendation {
    min-width: 90vw;
  }
}

@media only screen and (width >= 992px) and (width <= 1280px) {
  .content {
    min-height: 90vh;
  }

  .content.mainContainer {
    align-items: flex-start;
    margin-top: 2em;
  }

  .content.mainContainer .overview_container {
    margin-right: 0;
  }

  .content .content_summary .content_thumbnail figure img {
    height: auto;
    max-width: 90vw;
  }

  .content .content_summary .content_thumbnail:hover .summary_side {
    opacity: 0;
  }

  .content .content_summary .content_thumbnail:hover figure img {
    height: auto;
    max-width: 90vw;
  }

  .content .content_summary .summary_side .genres {
    font-size: 1.5vw;
  }

  .content .content_summary .summary_side .content_rating .stars {
    font-size: 7vh;
    margin-right: 7px;
  }

  .content .content_summary .summary_side .content_rating .rating {
    font-size: 3.5vh;
  }

  .content .content_review .review_title__wrap h2 {
    font-size: 2em;
  }

  .content .content_review .review_title__wrap small {
    color: var(--text-color-secondary);
    font-size: 0.85em;
    font-style: italic;
  }

  .content .content_review p {
    font-size: 2.5vh;
    text-align: justify;
  }

  .content .recommendation {
    flex-flow: column nowrap;
    min-width: 40vw;
  }
}
