@import "../../../styles/variables";
@import "../../../styles/functions";

#btn_menu__mobile {
  display: none;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  place-items: center;
  justify-content: space-around;
  padding: 0 8em;
  height: 10vh;
  background: getColor(bg-color);
}

.header_nav {
  display: flex;
  gap: 2em;
}

.header_logo {
  display: flex;
  place-items: center;
  gap: 0.4rem;
  font-size: 1.2em;
}

#logo_icon {
  font-size: 2rem;
  color: getColor(color-primary);
}

.nav_list {
  display: flex;
  place-items: center;
  list-style: none;
  gap: 1.5rem;
  font-weight: $medium;
}

.list__item {
  color: getColor(text-color-secondary);
  font-size: 1.2rem;
  transition: all 0.2s;

  &:hover {
    color: getColor(text-color-hover);
  }
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0;
  }
  .header_nav {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: getColor(bg-color);
    height: 10vh;
    width: 100vw;
    left: 0;
    top: 10vh;
    display: none;
  }

  #btn_menu__mobile {
    display: block;
    font-size: 2.4em;
    width: 25%;
    background: none;
  }

  #mobile_active {
    display: block;
  }
  .nav_list {
    justify-content: center;
  }

  .list__item {
    margin-left: 1vh;
    font-size: 1.5em;
    text-decoration: underline;
  }

  .header_logo {
    display: none;
  }
}
