@import "../../../styles/variables";
@import "../../../styles/functions";

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 1.5rem 0;
  height: 10vh;
  background: getColor(bg-color);
}

.header_logo {
  display: flex;
  place-items: center;
  gap: 0.4rem;
}

#logo_icon {
  font-size: 2rem;
  color: getColor(color-primary);
}

.nav_list {
  display: flex;
  place-items: center;
  list-style: none;
  gap: 1.5rem;
  font-weight: $medium;
}

.list__item {
  color: getColor(text-color-secondary);
  font-size: 1.2rem;
  transition: all 0.2s;

  &:hover {
    color: getColor(text-color-hover);
  }
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: center;
    height: 12vh;
  }

  .header_logo {
    display: none;
  }
}
